RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
#условия перенаправления
#если это не файл и не директория

RewriteRule (.*) index.php?$1 [L,QSA]
#берет всё что в адресной строке и отправляет в индекс.пхп
#флаг QSA позволяет добавлять параметры строки запроса
#к уже имеющимся
#МЕЖДУ ФЛАГАМИ ПРОБЕЛ НЕ СТАВИТЬ СЕРВЕР НЕ РАБОТАЕТ
#флаг QSA расшифровывается query string append
#если его убрать то гет параметры добавляться не будут